<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Biodata</servlet-name>
    <servlet-class>Biodata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadResume</servlet-name>
    <servlet-class>UploadResume</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Curriculum</servlet-name>
    <servlet-class>Curriculum</servlet-class>
  </servlet>
  <servlet>  
	<servlet-name>ViewServlet</servlet-name>  
	<servlet-class>ViewServlet</servlet-class>  
</servlet>  
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Biodata</servlet-name>
    <url-pattern>/Biodata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Curriculum</servlet-name>
    <url-pattern>/Curriculum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>  
	<servlet-name>ViewServlet</servlet-name>  
	<url-pattern>/ViewServlet</url-pattern>  
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>UploadResume</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>  
    <welcome-file>index.html</welcome-file>  
  </welcome-file-list>  
 
</web-app>